.workplaces-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.workplaces-list {
    margin-top: 24px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}