.patients-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.patients-title {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-12);
}

.patients-count {
    font-weight: var(--fw-600);
    font-family: var(--ff-red-hat-display);
    color: var(--secondary-70);
    background-color: var(--secondary-10);
    padding: 4px 8px;
    border-radius: var(--radius-8);
}

.patients-table-wrapper {
    max-height: 420px;
    overflow-y: auto;
    border-radius: var(--radius-4);
}

.patients-table {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.patients-header-row {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    font-weight: 700;
    font-size: 14px;
    color: var(--neutral-900);
    font-family: var(--ff-red-hat-display);
    background-color: var(--neutral-200);
    padding: 8px;
    border-radius: var(--radius-4);
    position: sticky;
    top: 0;
    z-index: 2;
}

.patients-row {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    padding: 10px 8px;
    font-size: 14px;
    color: var(--primary-color);
    border-bottom: 1px solid #f1f5f9;
    align-items: center;
}

.patients-actions {
    display: flex;
    align-items: center;
    /* gap: 8px; */
    margin-left: -20px;
}

.action-icon {
    cursor: pointer;
    height: 24px;
    color: var(--neutral-400);
    /* padding: 4px; */
    border-radius: var(--radius-4);
}

.action-icon:hover {
    color: var(--secondary-70);
    background-color: var(--secondary-10);
}

.dropdown-wrapper {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: white;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 180px;
    padding: 8px;
    animation: fadeIn 0.2s ease-out;
}

.dropdown-item {
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-8);
    border-radius: var(--radius-4);
    font-size: 14px;
    color: var(--black);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.dropdown-item:hover {
    background-color: var(--secondary-10);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(4px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}