body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--ff-poppins);
}

p {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

@media (min-width: 1024px) {
    .container {
        flex-direction: row;
        gap: 2rem;
    }
}

.content {
    width: 100%;
    max-width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@media (min-width: 1280px) {
    .content {
        padding-left: 0;
        padding-right: 0;
    }
}

.error-code {
    font-size: 4.5rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: #d1d5db;
}

@media (min-width: 768px) {
    .error-code {
        font-size: 6rem;
    }
}

@media (min-width: 1024px) {
    .error-code {
        font-size: 7rem;
    }
}

.error-title {
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: #d1d5db;
    margin-top: 0.5rem;
}

@media (min-width: 768px) {
    .error-title {
        font-size: 3rem;
    }
}

@media (min-width: 1024px) {
    .error-title {
        font-size: 3.75rem;
    }
}

.error-message {
    font-size: 1.125rem;
    color: #6b7280;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .error-message {
        font-size: 1.25rem;
    }
}

@media (min-width: 1024px) {
    .error-message {
        font-size: 1.5rem;
    }
}

.home-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #2563eb;
    color: #f3f4f6;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    text-decoration: none;
    transition: background-color 0.15s ease;
}

.home-link:hover {
    background-color: #1d4ed8;
}

.icon {
    height: 1.25rem;
    width: 1.25rem;
}

.image {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

@media (min-width: 1024px) {
    .image {
        /* align-items: flex-end; */
        height: 100%;
    }
}

.image svg {
    width: 100%;
    color: #2563eb;
}